<form>
  <div class="form-group">
    <label for="name">国名</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="ドイツ" value="{{ country.name }}">
  </div>
  <div class="form-group">
    <label for="description">詳細</label>
    <textarea class="form-control" id="description" name="description" rows="3">{{ country.description }}</textarea>
  </div>
  <button type="submit" formaction="{{formaction}}" formmethod="POST" class="btn btn-primary">保存</button>
  {{#if showContinueButton}}
    <button type="submit" formaction="{{formaction}}?isContinue=true" formmethod="POST" class="btn btn-primary">保存して作成を続ける</button>
  {{/if}}
</form>